.titulo-content4 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
    color: #2C3038;
}

.sub-titulo-content4 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    margin-top: 1%;
    font-size: 1rem;
    font-weight: 500;
    color: #2C3038;
}

.Content4 .imagens-projetos {
    display: flex;
    justify-content: space-around;
    justify-items: center;
    margin: 5% 10%;
}

.img-projeto {
    width: 50%;
    height: auto;
}

.container-btn-content4 {
    display: flex;
    justify-content: space-around;
    justify-items: center;
}

.btn-primary-content4 {
    background-color: #007E91;
    border: none;
    border-radius: 60px;
    height: 60px;
    width: 180px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #FFF;
    cursor: pointer;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    -moz-transition: all .51s;
    -o-transition: all .51s;
    -webkit-transition: all .51s;
    transition: all .51s;
}

.btn-primary-content4:hover {
    background-color: #206981;
    border-radius: 0px;
}

@media (max-width:900px) and (min-width:500px) {
    .titulo-content4 {
        font-size: 3rem;
    }
}

@media (max-width: 500px){
    .titulo-content4 {
        font-size: 2rem;
    }

    .Content4 .imagens-projetos {
        display: grid;
        justify-content: space-around;
        justify-items: center;
    }

    .img-projeto {
        margin-top: 10%;
        width: 100%;
    }

    .Content4 .container{
        width: 100%;
        text-align: center;
    }
    .sub-titulo-content4{
        width: 80%;
        margin: 0 10%;
    }

}